<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PluginSettings">
    <option name="apiKey" value="" />
    <option name="serverUrl" value="" />
  </component>
  <component name="Settings">
    <option name="apiUrl" value="" />
    <option name="password" value="" />
    <option name="userName" value="" />
  </component>
</project>